#anchorPaneId {
    -fx-background-color: transparent;
}

.button {
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-background-color: #2ecc71;
    -fx-padding: 8px 16px;
    -fx-background-radius: 4px;
}

.button:hover {
    -fx-background-color: #27ae60;
}

#relancerButton {
    -fx-layout-x: 50%;
    -fx-layout-y: 50%;
    -fx-translate-x: -37.5px; /* Décalage de moitié de la largeur du bouton */
    -fx-translate-y: -19px; /* Décalage de moitié de la hauteur du bouton */
}

#quitButton {
    -fx-layout-x: 50%;
    -fx-layout-y: 50%;
    -fx-translate-x: 37.5px; /* Décalage de moitié de la largeur du bouton */
    -fx-translate-y: -19px; /* Décalage de moitié de la hauteur du bouton */
}
